<div class="continaer">
  <div class="row" id="titleContiainer">
    <div class="col-xs-12">
      <h1>BattleShips</h1>
      <hr>
    </div>
  </div>
  <div class="IfGameIsStillOn" *ngIf="!isGameOver;else gameOverContainer">
    <div class="boardContainer" *ngIf="!isGameOver && numberOfMisslesLeftToFire>=0; else noBoard">
      <div class="row" id="misslesDataCOntainer">
        Number Of Missle to Fire: {{numberOfMisslesLeftToFire}} | Number of Fired Missles: {{numberOfFireMissels}}
      </div>
      <div class="row" *ngFor="let boardObjrow of boardObj">
        <div class="row" *ngFor="let cell of boardObjrow">
          <div class="col" >
            <div class="cellContainer"
            #CellElement
            (click)="hitCell($event,cell)"
            id="singleCell"
            >

              <!-- {{cell["id"]|json}} -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noBoard>
      <div class="noBoard">
        <h3>PLEASE CREATE A NEW BOARD TO START</h3>
      </div>
    </ng-template>
  </div>
  <ng-template #gameOverContainer>
    <div class="row">
      <div class="col-xs-12"><p>Game Over</p></div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>You Hitted {{numberOfHittedCells}} Ship Cells. Success rate: {{calculateSuccessRate()}}%</p>
      </div>

    </div>
      <br>
      <div class="row">
        <div class="col-xs-12">
          Please click "start game" to restart
        </div>
      </div>
  </ng-template>
</div>
